.container {
  width: 100%;
  height: 100%;
  overflow: auto;

  padding: 2em;

  background-color: #fff;

  .select_row {
    margin-bottom: 2em;

    .select_wrap {
      width: fit-content;
      margin: auto;
      display: flex;

      border-bottom: 2px solid $blue_brite;

      .referense_select {
        margin-left: 2em;
      }
    }
  }

  .analogs_wrap {
    display: flex;

    .analogs_row {
      padding: 0 0 0 5em;
      @include gray-scroll;
      width: 100%;
      overflow: auto;

      display: flex;
      justify-content: space-around;

    }
  }

  .btns {
    margin: 3em 0;
    display: flex;
    justify-content: space-between;
  }
}

.analog_titles {
  min-width: 200px;

  .header_of_titles {
    color: $blue_dark;
  }
}

.analog_form {
  flex-grow: 1;
  flex-basis: 150px;
  flex-shrink: 0;
  padding: 0 1em;

  border-left: 1px solid rgba(26, 26, 202, 0.444);

  &:first-child {
    border-left: none;
  }

  .header_of_form {
    text-align: center;
  }

  .control_btns {
    margin: 0;

    .control_btn {
      width: 100%;
    }
  }
}
