.steps_layout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  font-size: 1.6rem;

  .steps {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;

    user-select: none;
    background-color: #fff;

    .stepnav_btn {
      padding: 0.4em 0.6em;

      flex: auto;
      position: relative;

      color: #fff;
      text-align: center;

      transition: all 0.4s;
      background: linear-gradient(to right, $blue_dark_gradient, $blue_dark 80%);

      &.allowed {
        cursor: pointer;
        background: linear-gradient(to right, $blue_dark_gradient, rgb(16, 160, 160) 80%);

        &::after,
        &::before {
          background-color: rgb(16, 160, 160);
        }

        &:hover {
          background: linear-gradient(to right, $blue_dark_gradient, rgb(49, 187, 187) 80%);

          &::after,
          &::before {
            background-color: rgb(49, 187, 187);
          }
        }
      }

      &.active {
        background: linear-gradient(to right, $blue_dark_gradient, rgb(0, 128, 92) 80%);

        &::after,
        &::before {
          background-color: rgb(0, 128, 92);
        }
      }

      &:first-child {

        &::after,
        &::before {
          display: none;
        }
      }

      &::after,
      &::before {
        display: block;
        content: "";

        width: 22px;
        height: 10px;

        position: absolute;

        background-color: $blue_dark;
      }

      &::after {
        bottom: -10px;
        right: 0;
        transform-origin: top right;
        transform: rotate(120deg);
      }

      &::before {
        top: -10px;
        right: 0;
        transform-origin: bottom right;
        transform: rotate(-120deg);
      }
    }
  }

  .wrap {
    flex-grow: 1;

    width: 100%;
    height: 100%;
  }
}
