.container {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;

  padding: 1em;

  background-color: #fff;

  .agreement_row {
    @include gray-scroll;
    max-width: 100%;
    overflow: auto;
    display: flex;
  }

  .pool_title {
    padding: 1em;
    text-align: center;
    color: $blue_dark;
  }

  .pool_objects {}

  .btns {
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
  }
}

.agreement_form {
  flex: 1;
  height: fit-content;
  padding: 0 1em;

  border-left: 1px solid rgba(26, 26, 202, 0.444);

  &:first-child {
    border-left: none;
  }
}
