//color
$blue: #1890ff;
$blue_lite: #54a0e8;
$blue_brite: #90bce4;
$blue_dark: #2a659c;
$blue_dark_gradient: #3d77ad;

//fonst
$cursive_font: "Comfortaa", cursive;
$main_font: "Roboto", sans-serif;
$header_font: "Rubik", sans-serif;

//lauouts sizes
$container_max_widht: 1440px;
$header_height: 5rem;
$footer_height: 5rem;
$scrollbar_width: 1rem;
