.autorisation_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .autorisation_form {
    padding: 24px;
    padding-bottom: 0;
    max-width: 500px;

    position: relative;

    border: 2px solid $blue;

    .title {
      padding: 0 20px;
      width: max-content;

      position: absolute;
      top: -2px;
      left: 50%;

      transform: translate3d(-50%, -50%, 0);

      color: $blue;
      background-color: white;
    }
  }

  .registiration_link {
    margin-top: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}
